<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'collections_show_style' %>
  <style>
    .card-image {
      width: 265px;
      height: 370px;
    }
  </style>
</head>
<body>
  <%= render partial: 'shared/header' %>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <span class="nav-link disabled"><%= @collection.name %></span>
    </li>
    <li class="nav-item">
      <span class="nav-link disabled">Card Count: <%= @collection.cards.count %></span>
    </li>
    <li class="nav-item">
      <span class="nav-link disabled">Release Date: <%= @collection.release_date %></span>
    </li>
    <li class="nav-item">
      <button class="btn" id="sort-btn">Sort</button>
      <select id="sort">
        <option value="name_asc">Name (Ascending)</option>
        <option value="name_desc">Name (Descending)</option>
      </select>
    </li>
  </ul>
  <div class="container">
    <% @collection.cards.each_slice(4) do |card_group| %>
      <div class="row my-4">
        <% card_group.each do |card| %>
          <% if card.imageurl.present? %>
            <div class="col-md-3 d-flex justify-content-center">
              <div class="card">
                <a href="/cards/<%= card.multiverseid %>">
                  <img src="<%= card.imageurl %>" alt="<%= card.name %>" class="card-image">
                </a>
              </div>
            </div>
          <% else %>
            <div class="col-md-3 d-flex justify-content-center">
              <div class="card">
                <a href="/cards/<%= card.multiverseid %>">
                  <img src="<%= asset_path('deck_back/Magic_card_back.jpg') %>" alt="<%= card.name %>">
                </a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</body>
</html>
