<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'collections_show_style' %>
  <style>
    .card-image {
      width: 265px;
      height: 370px;
    }
    .card {
      border: none;
    }
    .card-container {
      padding: px -1;
    }
    #sort-btn {
      color: #646769;
    }
    .row {
      margin-left: -5px;
      margin-right: -5px;
    }
  </style>
</head>
<body>
  <%= render partial: 'shared/header' %>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <span class="nav-link disabled"><%= @collection.name %></span>
    </li>
    <li class="nav-item">
      <span class="nav-link disabled">Card Count: <%= @collection.cards.count %></span>
    </li>
    <li class="nav-item">
      <span class="nav-link disabled">Release Date: <%= @collection.release_date %></span>
    </li>
    <li class="nav-item">
      <button class="btn" id="sort-btn">Sort</button>
      <select id="sort">
        <option value="name_asc">Name (Ascending)</option>
        <option value="name_desc">Name (Descending)</option>
      </select>
    </li>
  </ul>
  <div class="container">
    <div class="row g-0 my-1">
      <% @collection.cards.each do |card| %>
        <% if card.imageurl.present? %>
              <div class="col-md-3 d-flex justify-content-center mb-2">
                <div class="card">
                  <a href="/cards/<%= card.multiverseid %>">
                    <img src="<%= card.imageurl %>" alt="<%= card.name %>" class="card-image">
                  </a>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</body>
</html>
