<h1><%= @user.name %></h1>
<%= button_to "Create Deck", some_path, method: :post, class: "btn btn-primary", id: "my-button" %>
<%= button_to "Share Deck", some_path, method: :post, class: "btn btn-primary", id: "my-button" %>
<%= button_to "Delete Deck", some_path, method: :post, class: "btn btn-primary", id: "my-button" %>
 <h2>User Decks</h2>
  <%= @user.deck.each do |deck| %>
    <a href="userdid/decks/<%= deck.id %>">
    <img src="<%= deck.image %>" alt="<%= deck.name %>">
    </a>
  <% end %>


