<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Spellbinder</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link active', 'aria-current': 'page' %>
        </li>
        <li class="nav-item">
          <%= link_to 'All Collections', collections_path, class: 'nav-link active', 'aria-current': 'page' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Random Card', "/cards/random", class: 'nav-link active', 'aria-current': 'page' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Advanced Search', "/coming_soon", class: 'nav-link active', 'aria-current': 'page' %>
        </li>
      </ul>
   <form class="d-flex" role="search" method="get" action="<%= search_path %>">
  <input class="form-control me-2" type="search" name="query" placeholder="Find Cards" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
    </div>
  </div>
</nav>
