<!DOCTYPE html>
<html>
<head>
  <style>
    .card-container {
      display: inline-block;
      position: relative;
      top: 10px;
      left: 600px;
      border: 1px solid #333; /* Dark gray border color */
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Drop shadow */
      background-color: #DDDDDD;
      padding: 20px;
      z-index: 2;
      border-radius: 10px;
    }

    .card-details-container {
      position: relative;
      top: -390px;
      left: 899px;
      border: 1px solid black;
      padding: 20px;
      width: 400px; /* Adjust the width as needed */
      height: 460px; /* Adjust the height as needed */
      z-index: 1;
      background-color: #F5F6FA;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    body {
      font-size: 12px;
      font-family: 'LatoLatin', sans-serif;
    }

    .card-details-container p {
      border-bottom: 1px solid #DDDDDD;
      padding-bottom: 5px; /* Add some spacing between lines */
    }

    .rulings-container {
      margin-top: 20px; /* Add some space between the card details and rulings */
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .ruling {
      width: 48%; /* Set the width of each column */
      margin-bottom: 10px; /* Add some spacing between rulings */
      border: 1px solid #DDDDDD;
      padding: 10px;
      background-color: #F5F6FA;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    /* Clearfix to prevent columns from overlapping */
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }

    .card-image {
      width: 265px;
      height: 370px;
    }
  </style>
</head>
<body>
  <%= render partial: 'shared/header' %>
  <div class="card-container">
    <img src="<%= @card.imageurl %>" alt="<%= @card.name %>" class="card-image">
  </div>
  <div class="card-details-container">
    <p><%= @card.name %> <%= render_mana_symbols(@card.manacost) %></p>
    <p><%= @card.type %></p>
    <p><%= @card.rarity %></p>
    <p><%= @card.text %></p>
    <% if @card.power.present? && @card.toughness.present? %>
      <p><%= @card.power %>/<%= @card.toughness %></p>
    <% end %>
    <p>Illustrated by <%= @card.artist %></p>
  </div>
  <%= form_tag("add_to_mainboard/#{@card.multiverseid}", method: :post) do %>
  <%= select_tag 'deck_id', options_for_select(@decks.map { |deck| [deck.name, deck.id] }) %>
  <%= submit_tag "Add Card To Deck" %>
<% end %>
  <p>Notes and rules for <%= @card.name %></p>
  <div class="rulings-container">
    <% if @card.rulings.present? %>
      <% @card.rulings.each do |ruling| %>
        <p><%= ruling[:text] %></p>
        <p><%= ruling[:date] %></p>
      <% end %>
    <% end %>
  </div>
</body>
</html>
