<!DOCTYPE html>
<html>
<head>
    <style>
        .card-container {
            display: inline-block;
            position: relative;
            top: 10px;
            left: 600px;
            border: 1px solid #333;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            background-color: #acbebd;
            padding: 20px;
            z-index: 2;
            border-radius: 10px;
        }

        .card-details-container {
            position: relative;
            top: -390px;
            left: 899px;
            border: 1px solid black;
            padding: 20px;
            width: 400px;
            height: 460px;
            z-index: 1;
            background-color: #eaefee;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        }

        body {
            font-size: 12px;
            font-family: 'LatoLatin', sans-serif;
        }

        .card-details-container p {
            border-bottom: 1px solid #DDDDDD;
            padding-bottom: 5px;
        }

        .rulings-container {
            margin-top: -300px;
            display: flex;
            flex-wrap: wrap;
        }

        .ruling-column {
            width: 48%;
            margin-bottom: 10px;
            border: 1px solid #DDDDDD;
            padding: 10px;
            background-color: #eaefee;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        }

        .ruling {
            border-bottom: 1px solid #DDDDDD;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .right-column {
            margin-left: auto;
        }

        .center-text {
            text-align: center;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .card-image {
            width: 265px;
            height: 370px;
        }

        .rulings-header {
            position: relative;
            top: -300px;
        }

        /* Style for the button */
        .add-button {
            position: relative;
            top: -600px;

        }
    </style>
</head>
<script>
    function updateDeckId() {
        var select = document.getElementById('deck_id');
        var hiddenField = document.getElementById('deck_id_hidden');
        var selectedValue = select.value;
        hiddenField.value = selectedValue;
    }
</script>
<body>
    <%= render partial: 'shared/header' %>
    <div class="card-container">
        <img src="<%= @card.imageurl %>" alt="<%= @card.name %>" class="card-image">
    </div>
    <div class="card-details-container">
        <p><%= @card.name %> <%= render_mana_symbols(@card.manacost) %></p>
        <p><%= @card.type %></p>
        <p><%= @card.rarity %></p>
        <p><%= @card.text %></p>
        <% if @card.power.present? && @card.toughness.present? %>
        <p><%= @card.power %>/<%= @card.toughness %></p>
        <% end %>
        <p>Illustrated by <%= @card.artist %></p>
    </div>
    <div class="add-button"><%= form_tag(add_to_mainboard_path(@card.multiverseid), method: :post) do %>
        <label for="deck_id">Select a Deck:</label>
        <%= select_tag 'deck_id', options_for_select(@decks.map { |deck| [deck.name, deck.id] }), onchange: "updateDeckId()" %>
        <%= submit_tag "Add Card To Deck", class: "add-button" %>
    <% end %>
    </div>
    <div class="rulings-header">
        <strong><p class="center-text">Notes and rules for <%= @card.name %></p></strong>
    </div>
    <div class="rulings-container">
        <% rulings_per_column = (@card.rulings.count / 2.0).ceil %>
        <% rulings_columns = @card.rulings.each_slice(rulings_per_column).to_a %>
        <% rulings_columns.each_with_index do |column, index| %>
        <div class="ruling-column<%= index == 1 ? ' right-column' : '' %>">
            <% column.each do |ruling| %>
            <div class="ruling">
                <p><%= ruling[:text] %></p>
                <p><%= ruling[:date] %></p>
            </div>
            <% end %>
        </div>
        <% end %>
    </div>
</body>
</html>
