<!DOCTYPE html>
<html>
<head>
  <style>
  <%= stylesheet_link_tag 'collections_show_style' %>
    .hover-highlight {
      text-decoration: none;
      color: black;
    }
  </style>
</head>
<body>
  <h2><%= @deck.name %></h2>
  <p><%= @deck.description %></p>
  <h3>Main Board Count: <%= @deck.cards["main_board"].count %></h3>
  <ul>
    <% @deck.cards["main_board"].each do |card| %>
      <li><%= link_to card["name"], card_path(card["multiverseid"]), class: "hover-highlight" %>, <%= card["converted_mana_cost"].to_i %></li>
    <% end %>
  </ul>
  <br>
  <h3>Side Board Count: <%= @deck.cards["side_board"].count %></h3>
  <ul>
    <% @deck.cards["side_board"].each do |card| %>
      <li><%= link_to card["name"], card_path(card["multiverseid"]), class: "hover-highlight" %>, <%= card["converted_mana_cost"].to_i %></li>
    <% end %>
  </ul>
  <br>
  <h3>Maybe Board Count: <%= @deck.cards["maybe_board"].count %></h3>
  <ul>
    <% @deck.cards["maybe_board"].each do |card| %>
      <li><%= link_to card["name"], card_path(card["multiverseid"]), class: "hover-highlight" %>, <%= card["converted_mana_cost"].to_i %></li>
    <% end %>
  </ul>
  <br>
</body>
</html>
